.rooms-list__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 50px;
}

.rooms-list__room {
  height: 180px;
  width: 180px;
  display: flex;
  flex-flow: column;
  border: 1px solid #CCC;
  margin-right: 20px;
}

.rooms-list__room .avatar {
  background: #FFF;
  height: 120px;
}

.rooms-list__room .desc {
  background: rgba(0, 0, 0, 0.8);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.rooms-list__room .desc a {
  color: white;
}
