.rooms-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.room {
  height: 180px;
  width: 180px;
  display: flex;
  flex-flow: column;
  border: 1px solid #CCC;
}

.room .avatar {
  background: #FFF;
  height: 120px;
}

.room .desc {
  background: rgba(0, 0, 0, 0.8);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.room .desc a {
  color: white;
}
